#settings-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#settings-form label {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    padding: 2%;
    font-family: 'Fredericka the Great';
}

#settings-form select,
#settings-form input {
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid darkgray;
}

#emailLabel {
    display: flex;
    flex-direction: column;
}

.password-reset-text {
    font-size: 14px;
    color: blue;
    text-align: center;
    cursor: pointer;
    font-family: 'roboto';
}

.submit {
    width: 30%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: white;
    border-radius: 25px;
    cursor: pointer;
}

.email-confirmation-text {
    color: white;
    background-color: red;
    padding: 5px;
}

.link-text {
    font-size: 14px;
    color: blue;
    text-align: center;
    cursor: pointer;
    font-family: 'roboto';
}

@media screen and (max-width: 900px) {
    #settings-form label {
        width: 80%;
    }

    .submit {
        width: 50%;
    }
}
