* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    background-color: lightgray;
}

#init {
    background-color: lightgray;
    height: 90%;
    text-align: center;
    position: sticky;
    top: 10%;
}

#initText {
    font-family: 'Fredericka the Great';
    font-size: xx-large;
}
