#birdAlerts {
  height: 100%;
  display: flex;
  overflow-x: auto;
  align-items: center;
}

.alerts-header-box {
  padding: 2%;
  background-color: lightgray;
  position: sticky;
  display: flex;
  align-items: center;
  z-index: 1;
}

#alertsDontExist {
  height: 100%;
  justify-content: center;
}

#alertsExist {
  height: 80%;
  left: 0;
  border-right: 2px black solid;
}

.alerts-header {
  font-family: 'Fredericka the Great';
}
