nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
    font-size: x-large;
    background-color: grey;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav div {
    display: flex;
}

nav div a {
    display: flex;
    align-items: center;
}

.nav-img {
    height: 45px;
    width: 45px;
    cursor: pointer;
}

#settings {
    display: flex;
    align-items: center;
    height: 45px;
    width: 45px;
    justify-content: flex-end;
    overflow-x: clip;
}

#settings:hover {
    animation: action-hover 0.25s ease-in forwards;
}

@keyframes action-hover {
    0% {
        width: 45px;
    }
    100% {
        width: 125px;
    }
}

#settingsActions {
    display: flex;
    flex-direction: column;
}

#settingsActions {
    font-size: 20px;
}

#settingsActions p:hover {
    color: red;
}

#titleBird {
    font-family: 'Fredericka the Great';
}

#titleAlert {
    font-family: 'Bungee Spice';
}

nav a {
    color: inherit;
    text-decoration: inherit;
}
