.alert-center {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert-center h2 {
  font-family: 'Fredericka the Great';
  margin-bottom: 20px;
}

.notification {
  width: 60%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}